@tailwind base;
@tailwind components;
@tailwind utilities;
@import "tailwindcss";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,ol{
  list-style: none;
}

:root {
  color-scheme: none;
}